<div id="home-wrapper">
    <h1>Order a Burger!</h1>
    <div class="input-group">
        <input type="text" id="order" class="form-control" placeholder="Cheese Burger">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">Order!</button>
          </span>
    </div>
    {{#each rows}}
        <ul>
            <li>{{this.id}}. {{this.burger_name}} <button class="btn btn-default">Eat!</button></li>
        </ul>
    {{/each}}
</div>
